<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap uap3 rescap">

	<Identity
	  Name="klhq.DaymarkWidget"
	  Publisher="CN=C1775D8D-B1FD-4BF1-A1FF-7F1C3F0163BA"
	  Version="1.0.29.0" />

	<Properties>
		<DisplayName>Daymark Widget</DisplayName>
		<PublisherDisplayName>klhq</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="Daymark Widget"
			  Description="Clock in and see your expected finish time."
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
			<Extensions>
				<com:Extension Category="windows.comServer">
					<com:ComServer>
					<com:ExeServer Executable="WorkdayWidget.exe" Arguments="-RegisterProcessAsComServer" DisplayName="Daymark Widget">
						<com:Class Id="80DAE84C-DE3C-4F02-8ECD-DCDD1CDECC15" DisplayName="Daymark Widget" />
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>
				<uap3:Extension Category="windows.appExtension">
					<uap3:AppExtension Name="com.microsoft.windows.widgets" DisplayName="Daymark Widget" Id="workday.widget" PublicFolder="Public">
						<uap3:Properties>
							<WidgetProvider>
								<ProviderIcons>
									<Icon Path="ProviderAssets\Workday_Icon_Light.png" />
								</ProviderIcons>
								<Activation>
									<!-- Apps exports COM interface which implements IWidgetProvider -->
									<CreateInstance ClassId="80DAE84C-DE3C-4F02-8ECD-DCDD1CDECC15" />
								</Activation>

								<Definitions>
                                    <Definition Id="Workday_Widget" AllowMultiple="false"
										DisplayName="Daymark Widget"
										Description="Clock in and see your expected finish time.">
										<Capabilities>
											<Capability>
												<Size Name="small" />
											</Capability>
											<Capability>
												<Size Name="medium" />
											</Capability>
											<Capability>
												<Size Name="large" />
											</Capability>
										</Capabilities>
										<ThemeResources>
											<Icons>
											<Icon Path="ProviderAssets\Workday_Icon_Light.png" />
											</Icons>
											<Screenshots>
											<Screenshot Path="ProviderAssets\Workday_Screenshot_Light.png" DisplayAltText="Workday Widget preview" />
											</Screenshots>
											<DarkMode>
												<Icons>
													<Icon Path="ProviderAssets\Workday_Icon_Dark.png" />
												</Icons>
												<Screenshots>
													<Screenshot Path="ProviderAssets\Workday_Screenshot_Dark.png" DisplayAltText="Workday Widget preview" />
												</Screenshots>
											</DarkMode>
											<LightMode>
												<Icons>
													<Icon Path="ProviderAssets\Workday_Icon_Light.png" />
												</Icons>
												<Screenshots>
													<Screenshot Path="ProviderAssets\Workday_Screenshot_Light.png" DisplayAltText="Workday Widget preview" />
												</Screenshots>
											</LightMode>
										</ThemeResources>
									</Definition>
								</Definitions>
							</WidgetProvider>
						</uap3:Properties>
					</uap3:AppExtension>
				</uap3:Extension>
			</Extensions>
		</Application>
	</Applications>
	<Capabilities>
		<Capability Name="internetClient" />
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
